@font-face {
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 500 700 800;
  font-display: swap;
}

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* colors */

  /* primary */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  /* gradients */
  --light-slate-blue: hsl(252, 100%, 67%); /*(background)*/
  --light-royal-blue: hsl(241, 81%, 54%); /*(background)*/

  --violet-blue: hsla(256, 72%, 46%, 1); /*(circle)*/
  --persian-blue: hsla(241, 72%, 46%, 0); /*(circle)*/
  /* neutral colors */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  /* typography */

  --transition: 0.3s ease-in-out all;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
}

p {
  font-size: var(--font-size);
}

.main {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--light-lavender);
}
.card {
  background-color: var(--white);
  box-shadow: 3px 5px 16px 0px rgba(0, 0, 0, 0.29);
  /* transition: var(--transition); */
}
.card:hover {
  box-shadow: 5px 8px 23px 0px rgba(0, 0, 0, 0.25);
}

/* 
===============
Upper card
===============
*/
.result {
  background: linear-gradient(
    180deg,
    var(--light-slate-blue) 0%,
    hsl(252, 100%, 63%) 0.03%,
    var(--light-royal-blue) 100%
  );
  box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
  border-radius: 0px 0px 32px 32px;
  padding: 1.5rem 3.625rem 2.5rem;
  text-align: center;
}
.result-header {
  margin: 0;
  font-size: 1.125rem;
  color: var(--light-lavender);
  margin-bottom: 1.5rem;
}
.numbers-container {
  width: 8.75rem;
  height: 8.75rem;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0.1) 100%,
    rgba(37, 33, 201, 0.1) 100%
  );
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
.big-num {
  font-size: 3.5rem;
  font-weight: 800;
  color: white;
}
.small-num {
  position: absolute;
  bottom: 1.375rem;
  font-weight: 700;
  color: var(--light-lavender);
}

.result-info {
}
.result-info-header {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--white);
  line-height: 31px;
  margin: 0;
  margin-bottom: 0.5rem;
}
.result-info-text {
  font-weight: 500;
  line-height: 21px;
  font-size: 1rem;
  margin: 0 auto;
  color: var(--light-lavender);
  max-width: 16.25rem;
}

/* 
===============
Lower  card
===============
*/

.btn-summary {
  border-radius: 8rem;
  border: none;
  width: 100%;
  background-color: var(--dark-gray-blue);
  color: var(--white);
  padding: 1rem 0;
  cursor: pointer;

  font-weight: 700;
  line-height: 23px;
  font-size: 1.125rem;
  transition: var(--transition);
}
.btn-summary:hover {
  background-image: linear-gradient(
    180deg,
    #7755ff 0%,
    #6943ff 0.01%,
    #2f2ce9 100%
  );
  background-color: #6943ff;
}
.summary {
  padding: 1.5rem 2rem 1.875rem;
}
.summary-header {
  color: var(--dark-gray-blue);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 23px;
  margin: 0;
  margin-bottom: 1.5rem;
}
/* skill */
.summary-skill {
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.skill-container {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

/* reaction skill style */
.reaction-skill {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    var(--light-red);
}
.reaction-skill .skill-name {
  color: var(--light-red);
}
/* memory skill style */
.memory-skill {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    var(--orangey-yellow);
}
.memory-skill .skill-name {
  color: var(--orangey-yellow);
}
/* verbal skill style */
.verbal-skill {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    var(--green-teal);
}
.verbal-skill .skill-name {
  color: var(--green-teal);
}
/* visual skill style */
.visual-skill {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    var(--cobalt-blue);
}
.visual-skill .skill-name {
  color: var(--cobalt-blue);
}

.skill-scale-container {
  color: hsla(223, 30%, 27%, 0.5);
  font-weight: 700;
  line-height: 21px;
}
.skill-scale {
  color: hsla(223, 30%, 27%, 1);
}

@media screen and (min-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-radius: 32px;
  }
  .result {
    height: 100%;
    border-radius: 32px;
  }
  .result,
  .summary {
    padding: 38px 54px 46px;
  }
  /* result */
  .result-header {
    font-size: 1.5rem;
  }
  .numbers-container {
    width: 12.5rem;
    height: 12.5rem;
    margin-bottom: 28px;
  }
  .big-num {
    font-size: 72px;
  }
  .small-num {
    font-size: 18px;
  }

  .result-info-header {
    font-size: 2rem;
    margin-bottom: 0.875rem;
  }
  .result-info-text {
    font-size: 18px;
    line-height: 23px;
  }

  /* summary */
  .summary-header {
    font-size: 1.5rem;
    margin-bottom: 28px;
  }
  .skills-container {
    margin-bottom: 40px;
  }
  .skill-name {
    font-size: 18px;
  }
  .skill-scale-container {
    font-size: 18px;
  }
}
